{{!-- dont change this id please :) --}}
<div id="index-loader" class="lds-roller">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<span id="to-hide">
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark text-light justify-content-between">
    <img id="drivloginimg" src="/styles/drivlogo.png">
    <div id="index-nav"></div>
  </nav>

  <div id="indexcontainer" class="container p-3 shadow-sm">

    <div class="row">
      <div class="col">
        <h4>Select your criteria and click "Search"</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-4 border-right border-info">
        <form>
          <div>
            <h5>Referral Type</h5>
            <div class="form-group">
              <select class="form-control" id="referral-type">
                <option>OTE</option>
                <option>TE</option>
                <option>E</option>
                <option>RO</option>
              </select>
            </div>
          </div>
          <div>
            <h5>Enter Age</h5>
            <div class="row">
              <div class="form-group col">
                <input class="form-control" type="number" value="" id="min-age-input" placeholder="Minimum">
              </div>
              <div class="form-group col">
                <input class="form-control" type="number" value="" id="max-age-input" placeholder="Maximum">
              </div>
            </div>
          </div>
          <h5>Follow-up</h5>
          <div class="form-check mb-2" id="needs-followup">
            <input class="form-check-input" type="checkbox" value="" id="needs-followup">
            <label class="form-check-label" for="needs-followup">
              Include cases that need follow-up?
            </label>
          </div>

          {{!-- PREVIOUS HOSPITAL LIST --}}
          {{!-- <div>
          <h5>Choose Hospital/s</h5>
          <div class="form-check" id="hospitals">
            <input class="form-check-input" type="checkbox" value="" id="example">
            <label class="form-check-label" for="hospitals">
              Default checkbox
            </label>
          </div> --}}
          {{!-- PREVIOUS HOSPITAL LIST --}}

          {{!-- DROP DOWN TEST --}}
          <div>
            <h5>Choose Hospital</h5>
            <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
              <option value="" disabled selected>Select all Hospitals</option>
              <option value="1">USA</option>
              <option value="2">Germany</option>
              <option value="3">France</option>
              <option value="4">Poland</option>
              <option value="5">Japan</option>
            </select>
          </div>
          {{!-- DROP DOWN TEST --}}
          <button id="submit" class="btn btn-sm btn-info mt-2">Search</button>
        </form>
      </div>

      {{!-- <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}

      <div class="col-8">
        <h5>Search Results</h5>
        {{!-- <ul id="referral-info" class="list-group">
          {{#each referrals}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
          </li>
          {{each}}
        </ul> --}}
      </div>
    </div>
  </div>
</span>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="user-input">It looks like the age range is not correct. Please make sure to only enter numbers between 0 and 80.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>